@*form-group has-error has-feedback*@
<div class="questionBody col-sm-12 form-group" style="z-index: 0;">
    <div v-bind:class="{ 'form-group has-error': conteudo.resposta.opcaoId == null && tentouPassar && conteudo.obrigatorio }">
        <div v-if="conteudo.tipo == 1">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <ul v-if="index == conteudoEditando">
                <li v-for="(opcao, indexQ) in conteudo.opcoes">
                    <input type="text" v-model="opcao.texto">
                    <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].removerOpcao(indexQ)"></span>
                </li>
                <content>
                    <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].adicionarOpcao"></span>
                </content>
            </ul>
            <div v-if="index != conteudoEditando" v-for="(opcao, indexQ) in conteudo.opcoes" class="form-check">
                <input type="radio" :name="conteudo.id" :id="'id'+ conteudo.id + opcao.id" :value="opcao.id" v-model="conteudo.resposta.opcaoId" class="form-check-inline">
                <label class="form-check-label" :for="'id'+ conteudo.id + opcao.id">{{ opcao.texto }}</label>
            </div>
        </div>
        <div v-if="conteudo.tipo == 3">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <ul v-if="index == conteudoEditando">
                <li v-for="(opcao, indexQ) in conteudo.opcoes">
                    <input type="text" v-model="opcao.texto">
                    <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].removerOpcao(indexQ)"></span>
                </li>
                <content>
                    <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].adicionarOpcao"></span>
                </content>
            </ul>
            <select v-if="index != conteudoEditando" class="form-control" style="max-width: none;" v-model="conteudo.resposta.opcaoId">
                <option value="null" disabled selected>Selecione...</option>
                <option v-for="opcao in conteudo.opcoes" :value="opcao.id">{{ opcao.texto }}</option>
            </select>
        </div>
    </div>
    <div v-bind:class="{ 'form-group has-error': conteudo.resposta.opcoesView.length == 0 && tentouPassar && conteudo.obrigatorio }">
        <div v-if="conteudo.tipo == 2">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <ul v-if="index == conteudoEditando">
                <li v-for="(opcao, indexQ) in conteudo.opcoes">
                    <input type="text" v-model="opcao.texto">
                    <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].removerOpcao(indexQ)"></span>
                </li>
                <content>
                    <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].adicionarOpcao"></span>
                </content>
            </ul>
            <div v-if="index != conteudoEditando" v-for="(opcao, indexQ) in conteudo.opcoes" class="form-check">
                <input class="form-check-input" type="checkbox" :id="'id'+ conteudo.id + opcao.id" :name="'opcoesC' + conteudo.id" :value="opcao.id" v-model="conteudo.resposta.opcoesView">
                <label class="form-check-label" :for="'id'+ conteudo.id + opcao.id">{{ opcao.texto }}</label>
            </div>
        </div>
        <div v-if="conteudo.tipo == 5">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index == conteudoEditando" class="form-inline">
                <input v-model="conteudo.valor" type="number" min="1" class="form-control" />
            </div>
            <div v-if="index != conteudoEditando">
                <div v-for="(opcao, index) in conteudo.opcoes" class="form-inline">
                    <span>{{ index + 1 }} - &nbsp;</span>
                    <input class="form-control" v-model.lazy="opcao.texto" />
                </div>
            </div>
        </div>
    </div>
    <div v-bind:class="{ 'form-group has-error': conteudo.resposta.valor == null && tentouPassar && conteudo.obrigatorio }">
        <div v-if="conteudo.tipo == 4">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index == conteudoEditando" class="form-inline">
                <input v-model="conteudo.opcoes[0].texto" size="10" class="form-control" />
                <input type="range" v-model.number="conteudo.valor" min="1" max="100" class="slider" id="myRange">
                <input v-model="conteudo.opcoes[1].texto" size="10" class="form-control" />
            </div>
            <div v-if="index != conteudoEditando" style="text-align: center;" @*class="form-inline"*@>
                <span style="float: left">{{ conteudo.opcoes[0].texto}}</span>
                <input type="range" v-model.number="conteudo.resposta.valor" min="1" max="100" class="slider" id="myRange">
                <span style="float: right">{{ conteudo.opcoes[1].texto}}</span>
            </div>
        </div>
        <div v-if="conteudo.tipo == 13">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index != conteudoEditando">
                <input type="number" @*style="width: 25%"*@ min="18" v-model.lazy="conteudo.resposta.valor" class="form-control">
            </div>
        </div>
    </div>
    <div v-bind:class="{ 'form-group has-error': conteudo.resposta.texto == '' && tentouPassar && conteudo.obrigatorio }">
        <div v-if="conteudo.tipo == 7">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index != conteudoEditando">
                <input type="text" class="form-control" v-model.lazy="conteudo.resposta.texto" placeholder="Digite sua resposta">
                @*<span class="glyphicon glyphicon-remove form-control-feedback"></span>*@
            </div>
        </div>
        <div v-if="conteudo.tipo == 8">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index != conteudoEditando">
                <textarea class="form-control" rows="5" v-model.lazy="conteudo.resposta.texto" placeholder="Digite sua resposta" style="resize: none;"></textarea>
            </div>
        </div>
        <div v-if="conteudo.tipo == 15">
            <h5>
                <label v-if="index != conteudoEditando">{{ conteudo.texto }}</label>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index != conteudoEditando">
                @*<input type="text" class="form-control">*@
                <input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">
            </div>
        </div>
    </div>
    <div v-bind:class="{ 'form-group has-error': conteudo.resposta.marcado == false && tentouPassar && conteudo.obrigatorio }">
        <div v-if="conteudo.tipo == 14">
            <h5>
                <input v-if="index == conteudoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
            </h5>
            <div v-if="index != conteudoEditando" class="form-check">
                <input type="checkbox" v-model="conteudo.resposta.marcado" class="form-check-input">
                <label class="form-check-label">{{ conteudo.texto }}</label>
            </div>
        </div>
    </div>
    <div v-if="conteudo.tipo == 6">
        <div v-if="index == conteudoEditando">
            <table class="table table-striped table-bordered table-sm">
                <tr>
                    <td>
                        <input v-model="conteudo.texto" placeholder="Insira a pergunta" type="text">
                    </td>
                    <td>0/100</td>
                </tr>
                <tr v-for="(opcao, indexO) in conteudo.opcoes">
                    <td>
                        <input v-model="opcao.texto" type="text">
                    </td>
                    <td>
                        <input type="number" v-model.number="opcao.valor" min="0">
                    </td>
                    <td>
                        <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].removerOpcao(indexO)"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[index].adicionarOpcao"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="index != conteudoEditando">
            <table class="table table-striped table-bordered table-hover table-sm">
                <tr>
                    <td>{{ conteudo.texto }}</td>
                    <td>{{ conteudo.valor }}/100</td>
                </tr>
                <tr v-for="opcao in conteudo.opcoes">
                    <td>{{ opcao.texto }}</td>
                    <td>
                        <input type="number" v-model.number="opcao.valor" value="0" min="0">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div v-if="conteudo.tipo == 9">
        <div v-if="index == conteudoEditando">
            <textarea rows="10" v-model="conteudo.texto"></textarea>
        </div>
        <div v-if="index != conteudoEditando">
            <p style="white-space: pre-wrap; overflow-wrap: break-word; text-align: justify; max-height: 300px; overflow-y: auto;">{{ conteudo.texto }}</p>
        </div>
    </div>
    <div v-if="conteudo.tipo == 10">
        <div v-if="index == conteudoEditando">
            <input v-model="conteudo.texto" type="text" class="form-control">
        </div>
        <div v-if="index != conteudoEditando">
            <h4>{{ conteudo.texto }}</h4>
        </div>
    </div>
    <div v-if="conteudo.tipo == 11">
        <div v-if="index == conteudoEditando">
            <button class="btn btn-default" style="width: 75%; min-height: 60px;">
                <div style="width: 80%; float: left;">
                    <input v-model="conteudo.texto" />
                </div>
                <div style="width: 20%; float: right;">
                    <select v-model="conteudo.valor">
                        <option value="1">Marker</option>
                        <option value="2">Line</option>
                        <option value="3">Polygon</option>
                    </select>
                </div>
            </button>
        </div>
        <div v-if="index != conteudoEditando">
            <div style="text-align: center;">
                <button class="btn btn-default" style="width: 75%; min-height: 60px;" v-on:click="conteudoSelecionado = index; conteudo.desenhar()">
                    <div style="width: 80%; float: left;">
                        <h6>{{ conteudo.texto }}</h6>
                    </div>
                    <div style="width: 20%; float: right;">
                        <span v-if="conteudo.valor == 1">
                            <img src="~/Images/icon_marker.png" style="width: 30px;" />
                        </span>
                        <span v-if="conteudo.valor == 2">
                            <img src="~/Images/icon_line.png" style="width: 30px;" />
                        </span>
                        <span v-if="conteudo.valor == 3">
                            <img src="~/Images/icon_polygon.png" style="width: 30px;" />
                        </span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>

@*
    Uma opcao
MultiplaEscolha: 1
ListaSuspensa: 3

    Varias opcoes
CaixaSelecao: 2
MultiplasRespostas: 5

    Valor
Escala: 4
RespostaNumerica: 13

    Texto
RespostaCurta: 7
RespostaLonga: 8
RespostaPesquisa: 15

    Marcado
CaixaConfirmacao: 14

    Não colocar
DivisaoValores: 6
Descricao: 9
Cabecalho: 10
FerramentaDesenho: 11
Grafico: 12
*@
