<div class="modal fade" data-backdrop="static" id="modalConteudoDesenho" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" v-if="formulario.paginas[paginaDesenho] && formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado]">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].tituloConteudosDesenho }}</h5>
                <button type="button" class="close" aria-label="Close" v-on:click="excluirDesenho()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-top: unset;">
                <div v-for="(conteudo, index) in formulario.paginas[paginaDesenho].conteudos[indexConteudoModal].conteudosDesenhos">
                    <p>
                        @Html.Partial("_ConteudosDesenho")
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" tabindex="-1" class="btn btn-default" v-if="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor == 2 || formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor == 4" v-on:click="$('#modalConteudoDesenho').modal('hide')">Voltar</button>
                <button type="button" tabindex="-1" class="btn btn-danger" v-if="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor != 2 && formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor != 4" v-on:click="excluirDesenho()">Excluir</button>
                <button type="button" class="btn btn-primary" v-if="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor != 2 && formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor != 4" v-on:click="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].salvarRespostasDesenho()">Salvar</button>
                <button type="button" class="btn btn-primary" v-if="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor == 2 || formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].valor == 4" v-on:click="formulario.paginas[paginaDesenho].conteudos[conteudoSelecionado].salvarRespostasDesenhos()">Salvar</button>
            </div>
        </div>
    </div>
</div>
