<div class="input-group">
    <h2 v-if="editandoTitulo == false">
        <button class="btn btn-default" id="minimizarPagina" v-on:click="minimizarPagina">
            <i class="fa fa-angle-double-down" v-if="minPage == true"></i>
            <i class="fa fa-angle-double-up" v-if="minPage == false"></i>
        </button>
        <span v-if="minPage == false">
            {{ formulario.paginas[paginaAtual].titulo }}
        </span>
    </h2>
</div>