<div class="input-group">
    <h2 v-if="editandoTitulo == false">
        <button class="btn btn-default" id="minimizarPagina" v-on:click="minimizarPagina">
            <i class="fa fa-angle-double-down" v-if="minPage == true"></i>
            <i class="fa fa-angle-double-up" v-if="minPage == false"></i>
        </button>
        @*<span class="fa fa-angle-double-up btn-edit"></span>*@
        <span v-if="minPage == false">
            {{ formulario.paginas[paginaAtual].titulo }}
        </span>
        @*<span v-if="formulario.paginas[paginaAtual].titulo != ''" style="float: right;" class="fa fa-edit btnEdit" v-on:click="editandoTitulo = !editandoTitulo"></span>*@
    </h2>
    @*<input v-if="editandoTitulo == true" v-model="formulario.paginas[paginaAtual].titulo" type="text" class="form-control">
        <h3 v-if="editandoTitulo == true && formulario.paginas[paginaAtual].titulo != ''" style="float: right;" class="fa fa-check btnEdit" v-on:click="editandoTitulo = !editandoTitulo; salvarPagina();"></h3>
        <h3 style="float: right;" class="fa fa-times btnEdit" v-on:click="formulario.removerPagina(paginaAtual)"></h3>*@
</div>