<div v-if="conteudoEditando != -1" class="modal fade" id="modalConteudoDesenho" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ formulario.paginas[paginaAtual].conteudos[conteudoEditando].texto }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div v-if="conteudoEditando != -1">
                    <draggable :list="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos" :options="{handle:'.handle'}" v-on:change="formulario.paginas[paginaAtual].conteudos[conteudoEditando].atualizarSequenciaConteudosDesenho()" style="width: 100%;">
                        <div v-for="(conteudo, index) in formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos" class="list-group-item">
                            <h5 class="questionHeader col-sm-12" style="z-index: 1;">
                                <span style="float: right;" v-if="conteudoDesenhoEditando == index || conteudoDesenhoEditando == -1">
                                    <span v-if="index == conteudoDesenhoEditando">
                                        <input type="checkbox" v-model="conteudo.obrigatorio" />
                                    </span>
                                    <span v-if="index == conteudoDesenhoEditando" class="fa fa-trash btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].excluirConteudoDesenho(conteudo, index)"></span>
                                    <span v-if="index != conteudoDesenhoEditando" class="fa fa-edit btnEdit" v-on:click="conteudoDesenhoEditando = index"></span>
                                    <span v-if="index == conteudoDesenhoEditando" class="fa fa-check btnEdit" v-on:click="conteudo.salvar(formulario.paginas[paginaAtual].conteudos[conteudoEditando].id)"></span>
                                    <span v-if="index != conteudoDesenhoEditando" class="handle"><i class="fa fa-align-justify"></i></span>
                                </span>
                            </h5>
                            @Html.Partial("_ConteudosDesenho")
                        </div>
                    </draggable>
                    <div v-if="conteudoDesenhoEditando == -1" class="col-sm-12">
                        <div class="btn-group dropright">
                            <button v-on:click="adicionandoConteudo = !adicionandoConteudo" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="fa fa-plus"></span>
                                Adicionar Conteúdo
                            </button>
                            <div class="dropdown-menu">
                                <a v-for="opcao in optionsDesenhos" v-on:click="selecionarTipoConteudoDesenho(opcao.value)" :value="opcao" class="dropdown-item" href="#">{{ opcao.text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
