<div class="contentsBody col-sm-12" style="z-index: 0;">
    <div v-if="conteudo.tipo == 1">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <ul v-if="index == conteudoDesenhoEditando">
            <li v-for="(opcao, indexQ) in conteudo.opcoes">
                <input type="text" v-model="opcao.texto">
                <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].removerOpcao(indexQ)"></span>
            </li>
            <content>
                <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].adicionarOpcao"></span>
            </content>
        </ul>
        <div v-if="index != conteudoDesenhoEditando" v-for="(opcao, indexQ) in conteudo.opcoes">
            <input type="radio" name="opcoes">
            <span>{{ opcao.texto }}</span>
        </div>
    </div>
    <div v-if="conteudo.tipo == 2">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <ul v-if="index == conteudoDesenhoEditando">
            <li v-for="(opcao, indexQ) in conteudo.opcoes">
                <input type="text" v-model="opcao.texto">
                <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].removerOpcao(indexQ)"></span>
            </li>
            <content>
                <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].adicionarOpcao"></span>
            </content>
        </ul>
        <div v-if="index != conteudoDesenhoEditando" v-for="(opcao, indexQ) in conteudo.opcoes">
            <input type="checkbox" name="opcoes">
            <span>{{ opcao.texto }}</span>
        </div>
    </div>
    <div v-if="conteudo.tipo == 3">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <ul v-if="index == conteudoDesenhoEditando">
            <li v-for="(opcao, indexQ) in conteudo.opcoes">
                <input type="text" v-model="opcao.texto">
                <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].removerOpcao(indexQ)"></span>
            </li>
            <content>
                <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].adicionarOpcao"></span>
            </content>
        </ul>
        <select v-if="index != conteudoDesenhoEditando" class="form-control" style="max-width: none;">
            <option value="0" disabled selected>Selecione...</option>
            <option v-for="opcao in conteudo.opcoes" :value="opcao">{{ opcao.texto }}</option>
        </select>
    </div>
    <div v-if="conteudo.tipo == 4">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <div v-if="index == conteudoDesenhoEditando" class="form-inline">
            <input v-model="conteudo.opcoes[0].texto" size="10" class="form-control" />
            <input type="range" v-model="conteudo.valor" min="1" max="100" class="slider" id="myRange">
            <input v-model="conteudo.opcoes[1].texto" size="10" class="form-control" />
        </div>
        <div v-if="index != conteudoDesenhoEditando" style="text-align: center;">
            <span>{{ conteudo.opcoes[0].texto}}</span>
            <input type="range" v-model="conteudo.valor" min="1" max="100" class="slider" id="myRange">
            <span>{{ conteudo.opcoes[1].texto}}</span>
        </div>
    </div>
    <div v-if="conteudo.tipo == 5">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <div v-if="index == conteudoDesenhoEditando" class="form-inline">
            <input v-model="conteudo.valor" type="number" min="1" class="form-control" />
        </div>
        <div v-if="index != conteudoDesenhoEditando">
            <div v-for="(opcao, index) in conteudo.opcoes" class="form-inline">
                <span>{{ index + 1 }} - &nbsp;</span>
                <input class="form-control" />
            </div>
        </div>
    </div>
    <div v-if="conteudo.tipo == 6">
        <div v-if="index == conteudoDesenhoEditando">
            <table class="table table-striped table-bordered table-sm">
                <tr>
                    <td>
                        <input v-model="conteudo.texto" placeholder="Insira a pergunta" type="text">
                    </td>
                    <td>0/100</td>
                </tr>
                <tr v-for="(opcao, indexO) in conteudo.opcoes">
                    <td>
                        <input v-model="opcao.texto" type="text">
                    </td>
                    <td>
                        <input type="number" v-model="opcao.valor" min="0">
                    </td>
                    <td>
                        <span class="fa fa-times btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].removerOpcao(indexO)"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="fa fa-plus-circle btnEdit" v-on:click="formulario.paginas[paginaAtual].conteudos[conteudoEditando].conteudosDesenhos[index].adicionarOpcao"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="index != conteudoDesenhoEditando">
            <table class="table table-striped table-bordered table-hover table-sm">
                <tr>
                    <td>{{ conteudo.texto }}</td>
                    <td>0/100</td>
                </tr>
                <tr v-for="opcao in conteudo.opcoes">
                    <td>{{ opcao.texto }}</td>
                    <td>
                        <input type="number" v-model="opcao.valor" value="0" min="0">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div v-if="conteudo.tipo == 7">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <div v-if="index != conteudoDesenhoEditando">
            <input type="text" class="form-control">
        </div>
    </div>
    <div v-if="conteudo.tipo == 8">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <div v-if="index != conteudoDesenhoEditando">
            <textarea class="form-control" rows="5" style="resize: none"></textarea>
        </div>
    </div>
    <div v-if="conteudo.tipo == 9">
        <div v-if="index == conteudoDesenhoEditando">
            <textarea rows="10" v-model="conteudo.texto"></textarea>
        </div>
        <div v-if="index != conteudoDesenhoEditando">
            <p style="white-space: pre-wrap; overflow-wrap: break-word; text-align: justify;">{{ conteudo.texto }}</p>
        </div>
    </div>
    <div v-if="conteudo.tipo == 10">
        <div v-if="index == conteudoDesenhoEditando">
            <input v-model="conteudo.texto" type="text" class="form-control">
        </div>
        <div v-if="index != conteudoDesenhoEditando">
            <h3>{{ conteudo.texto }}</h3>
        </div>
    </div>
    <div v-if="conteudo.tipo == 11">
        <div v-if="index == conteudoDesenhoEditando">
            <button class="btn btn-default" style="width: 75%; min-height: 60px;">
                <div style="width: 80%; float: left;">
                    <input v-model="conteudo.texto" />
                </div>
                <div style="width: 20%; float: right;">
                    <select v-model="conteudo.valor">
                        <option value="1">Marker</option>
                        <option value="2">Line</option>
                        <option value="3">Polygon</option>
                    </select>
                </div>
            </button>
        </div>
        <div v-if="index != conteudoDesenhoEditando">
            <button class="btn btn-default" style="width: 75%; min-height: 60px;">
                <div style="width: 80%; float: left;">
                    <h6>{{ conteudo.texto }}</h6>
                </div>
                <div style="width: 20%; float: right;">
                    <span v-if="conteudo.valor == 1">
                        <img src="~/Images/icon_marker.png" style="width: 30px;" />
                    </span>
                    <span v-if="conteudo.valor == 2">
                        <img src="~/Images/icon_line.png" style="width: 30px;" />
                    </span>
                    <span v-if="conteudo.valor == 3">
                        <img src="~/Images/icon_polygon.png" style="width: 30px;" />
                    </span>
                </div>
            </button>
        </div>
    </div>
    <div v-if="conteudo.tipo == 13">
        <h5>
            <span v-if="index != conteudoDesenhoEditando">{{ conteudo.texto }}</span>
            <input v-if="index == conteudoDesenhoEditando" v-model="conteudo.texto" placeholder="Insira a pergunta" class="form-control" type="text">
        </h5>
        <div v-if="index != conteudoDesenhoEditando">
            <input type="number" min="18" class="form-control">
        </div>
    </div>
</div>