<div class="input-group">
    <h2>
        <span v-if="editandoTitulo == false">
            {{ formulario.paginas[paginaAtual].titulo }}
        </span>
        <input v-if="editandoTitulo == true" v-model="formulario.paginas[paginaAtual].titulo" type="text" class="form-control">
    </h2>
    <h3>
        <span v-if="editandoTitulo == false" class="fa fa-edit btnEdit" v-on:click="editandoTitulo = !editandoTitulo"></span>
        <span v-if="editandoTitulo == true" class="fa fa-check btnEdit" v-on:click="editandoTitulo = !editandoTitulo; formulario.paginas[paginaAtual].salvarPagina();"></span>
    </h3>
</div>
